---
http_interactions:
- request:
    method: get
    uri: https://api.sleeper.app/v1/user/782008200219205632/drafts/nfl/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"type":"snake","status":"complete","sport":"nfl","settings":{"teams":12,"slots_wr":3,"slots_te":1,"slots_rb":2,"slots_qb":1,"slots_k":1,"slots_flex":1,"slots_def":1,"slots_bn":6,"rounds":15,"pick_timer":30},"season_type":"regular","season":"2023","metadata":{"scoring_type":"ppr","name":"body of elders","description":""},"last_picked":1693520000000,"last_message_time":1693520000000,"league_id":"957401170459361280","draft_order":null,"draft_id":"957401170459361281","creators":null,"created":1693440000000,"slot_to_roster_id":{"1":1,"2":2,"3":3,"4":4,"5":5,"6":6,"7":7,"8":8,"9":9,"10":10,"11":11,"12":12}}]'
  recorded_at: Wed, 02 Apr 2025 23:06:00 GMT
recorded_with: VCR 6.3.1
