---
http_interactions:
- request:
    method: get
    uri: https://api.sleeper.app/v1/league/957401170459361280/losers_bracket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"r":1,"m":1,"t1":7,"t2":12,"w":7,"l":12,"t1_from":null,"t2_from":null},{"r":1,"m":2,"t1":8,"t2":11,"w":8,"l":11,"t1_from":null,"t2_from":null},{"r":1,"m":3,"t1":9,"t2":10,"w":9,"l":10,"t1_from":null,"t2_from":null},{"r":2,"m":4,"t1":null,"t2":null,"w":null,"l":null,"t1_from":{"w":1},"t2_from":{"w":2}},{"r":2,"m":5,"t1":null,"t2":null,"w":null,"l":null,"t1_from":{"w":3},"t2_from":{"l":4}},{"r":3,"m":6,"t1":null,"t2":null,"w":null,"l":null,"t1_from":{"w":4},"t2_from":{"w":5}}]'
  recorded_at: Wed, 02 Apr 2025 23:12:00 GMT
recorded_with: VCR 6.3.1
