---
http_interactions:
- request:
    method: get
    uri: https://api.sleeper.app/v1/user/sparlock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 02 Apr 2025 20:27:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"avatar":"ed32c351521851d09978c25b801f7f7f","cookies":null,"created":null,"currencies":null,"data_updated":null,"deleted":null,"display_name":"sparlock","email":null,"is_bot":false,"metadata":null,"notifications":null,"pending":null,"phone":null,"real_name":null,"solicitable":null,"summoner_name":null,"summoner_region":null,"token":null,"user_id":"782008200219205632","username":"sparlock","verification":null}'
  recorded_at: Wed, 02 Apr 2025 20:27:59 GMT
recorded_with: VCR 6.3.1
