---
http_interactions:
- request:
    method: get
    uri: https://api.sleeper.app/v1/league/957401170459361280/traded_picks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"season":"2024","round":1,"roster_id":3,"previous_owner_id":3,"owner_id":7},{"season":"2024","round":2,"roster_id":5,"previous_owner_id":5,"owner_id":2},{"season":"2025","round":3,"roster_id":1,"previous_owner_id":1,"owner_id":9}]'
  recorded_at: Wed, 02 Apr 2025 23:14:00 GMT
recorded_with: VCR 6.3.1
