---
http_interactions:
- request:
    method: get
    uri: https://api.sleeper.app/v1/draft/957401170459361281/traded_picks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"season":"2023","round":3,"roster_id":1,"previous_owner_id":3,"owner_id":5},{"season":"2023","round":5,"roster_id":7,"previous_owner_id":7,"owner_id":2}]'
  recorded_at: Wed, 02 Apr 2025 23:09:00 GMT
recorded_with: VCR 6.3.1
